
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
       
  <div class="container">
      <div>
          <img src="/static/pictures/logo2.png" />
      </div>
    
    <a class="navbar-brand" href="#">KrolichyaNora</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page 3</a>
        </li>
        
    </div>
    <div class="d-flex" >
      <button class="btn btn-outline-success mr-5" data-bs-toggle = "modal" data-bs-target="#SignInModal">Sign In</button>
      <button class="btn btn-outline-danger ml-3" data-bs-toggle = "modal" data-bs-target="#SignUpModal" >Sign Up</button>
    </div>
  </div>
</nav>